<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/contract/list}" method="post" th:object="${contract}">
    <table>
        <tr>
            <td>Customer</td>
            <td><input type="text" th:field="*{customer.name}"></td>
        </tr>
        <tr>
            <td>Start Date</td>
            <td><input type="date" th:field="*{startDate}"></td>
        </tr>
        <tr>
            <td>End Date</td>
            <td><input type="date" th:field="*{endDate}"></td>
        </tr>
        <tr>
            <td>Deposit</td>
            <td><input type="text" th:field="*{deposit}"></td>
        </tr>
        <tr>
            <td>Money</td>
            <td><input type="text" th:field="*{money}"></td>
        </tr>
    </table>
    <input type="submit" value="Update">
</form>
</body>
</html>